.Title{
    text-align: center;
    color: azure;
    margin: 0;
    font-size: xx-large;
}

.Description{
    text-align: center;
    color: azure;
    margin: 0;
    font-size: x-large;
    padding: 5px;
}

.Header{
    background-image: url(https://i.postimg.cc/pdFvFCDC/firebrick-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

nav{
    display: flex;
    gap: 15px;
    justify-content: space-evenly;
    padding: 15px;
    background-color:firebrick;
    border: 5px solid maroon;
}

nav a{
    color: beige;
}

.big_container{
    width: 100%;
    background-color: burlywood;
    margin: 0;
    padding: 10px 0 10px 0;
}

.copyright{
    background-color: maroon;
    color: white;
    width: 100%;
    margin: 0;
    text-align: center;
}

.Destination_Highlights{
    margin: 0;
}

.highlights_bigtitle{
    margin: 0;
    background-color: firebrick;
    color: bisque;
    font-size: 35px;
}

.grid_container{
    display: flex;
    justify-content: space-evenly;
    gap: 16px;

}

.card-content{
    width: 300px;
    height: 300px;
    border: 2px solid firebrick;
    background-color: maroon;
}

h2{
    color: azure;
    text-align: center;
}

h1, p{
    margin: 0;
    color: white;
}

body{
    margin: 0;
}

html{
    margin: 0;
}

.contact{
    background-color: burlywood;
    margin: 0;
    text-align: center;
    color: black;
}

.email{
    background-color: burlywood;
    margin: 0;
    text-align: center;
    color: black;
}

.address{
    background-color: burlywood;
    margin: 0;
    text-align: center;
    color: black;
}

.copyright{
    background-color: maroon;
    color: white;
    width: 100%;
    margin: 0;
    text-align: center;
}

.hero_image_home{
    margin: 0;
    height: 400px;
    width: 100%;
    background-image: url(https://i.postimg.cc/QNqfmSKS/attractions-on-a-plane.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 1;
}

.hero_title_home{
    font-size: 50px;
    color: white;
    z-index: 2;
    text-align: center;
    position: relative;
    top: 150px;
}
